.question-search {
  font-size: 1.5em;
  font-weight: 500;
  font-family: -apple-system;
}
.title-name {
  font-size: 2.5em;
  font-weight: 500;
  font-family: -apple-system;
  margin-bottom: 0;
}
.search-input {
  border-radius: 31px;
  width: 56%;
  padding: 10px 1.1vw;
  border: 1px solid #f0eeea;
}
.header-container {
  background-color: #3156dd;
  opacity: 0.9;
  color: white;
  padding-bottom: 20px;
  padding-top: 14px;
  margin: 10px 29vw 0px 29vw;
  border-radius: 40px;
}
