.meaning h4 {
  font-size: 1.25em;
  color: #1e40dd;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 14px;
}
.meaning .word-example {
  color: rgb(95, 95, 95);
  font-size: 0.97em;
  line-height: 2;
}
.meaning .word-example::first-letter {
  text-transform: capitalize;
}
.meaning .word-definition {
  line-height: 1.5;
}
.word-definition::first-letter {
  text-transform: capitalize;
}
